root = true

[*]
end_of_line = lf
indent_size = 2
indent_style = tab
insert_final_newline = true
insert_final_whitespace = true
tab_width = 2

[*.cs]
dotnet_diagnostic.IDE0008.severity = none
dotnet_diagnostic.IDE0011.severity = none
dotnet_diagnostic.IDE0022.severity = none
dotnet_diagnostic.IDE0040.severity = none
dotnet_diagnostic.IDE0048.severity = none
dotnet_diagnostic.IDE0055.severity = none
dotnet_diagnostic.IDE0058.severity = none
dotnet_diagnostic.IDE0061.severity = none
dotnet_diagnostic.IDE0130.severity = none
dotnet_diagnostic.IDE0160.severity = none
dotnet_diagnostic.IDE1006.severity = none

